<div class="column">
	<nav class="panel">
		<p class="panel-heading">Who to Follow</p>

        <% current_user.who_to_follow.each do | user | %>				
            
                <div class="panel-block is-active">
                    <article class="media">					
                        <div class="media-left">
                            <figure class="image is-32x32">
                                <% if Rails.env.production? %>
                                    <%= gravatar_image_tag(user.email, size: 64, alt: user.user_profile.name) %>
                                <% else %>                              
                                    <% if (user.user_profile.image.attached?) %>            
                                        <%= image_tag user.user_profile.image %>  
                                    <% end %>                     
                                <% end %>
                            </figure>
                        </div>
                    </article>

                    <strong><%= user.user_profile.name %></strong>	
                                                            
                    <div class="media-right">						
                        
                    </div>						
                </div>
         
        <% end %>
	</nav>
</div>



